<!--contact starts-->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"><h4>support@gearide.com</h4></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 contactus"><h4>Contact Us</h4></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"><h4>+91 81244 87322</h4></div>
        </div>
    </div>
</div>
<!--contact ends-->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-push-3 col-md-12 col-sm-12">
                <div class="row">
                    <ul class="col-lg-4 col-md-4 col-sm-4  list-unstyled">
                        <li><p class=""><strong>Company</strong></p></li>
                        <li><a href="about-us.php">About Us</a></li>
                        <li><a href="blogs.php">Blog</a></li>
                    </ul>
                    <ul class="col-lg-4 col-md-4 col-sm-4 list-unstyled">
                        <li><p class="color-alt-grey mmB"><strong>Docs</strong></p></li>
                        <li><a class="hiwa" href="#">How It Works</a></li>
                        <li><a href="faq.php">FAQ</a></li>
                    </ul>
                    <ul class="col-lg-4 col-md-4 col-sm-4  list-unstyled">
                        <li><p class="color-alt-grey mmB"><strong>Other</strong></p></li>
                        <li><a href="privacy.php">Privacy Policy</a></li>
                        <li><a href="terms.php" target="_blank">Terms of Use</a></li>
                        <li><a href="contact.php">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-9 col-md-12  col-md-12">
                <img class="mauto" src="/static/images/logo1.png">
                <p>© 2016 Gearide</p>
                <p class=""><a href="https://www.facebook.com/gearide" target="_blank">Facebook</a> - <a href="https://twitter.com/gearide" target="_blank">Twitter</a> - <a href="https://plus.google.com/gearide" target="_blank">Google Plus</a></p>
            </div>
        </div>
    </div>
</div>